<!doctype html>
<html>

<head>
  <title>GitMirror | by mkg20001</title>
  <!-- build:css css/all.css -->
  <link rel="stylesheet" href="bower_components/bootswatch/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/main.css" />
  <!-- endbuild -->
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <a href="?" class="navbar-brand">GitMirror</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="?Repos">Repos</a></li>
          <li><a href="?Users">Users</a></li>
          <li><a href="?Hubs">Hubs</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li v-if="signed_in"><a onclick="help.selectUser()">{{user}}</a></li>
          <li v-if="signed_in"><a>Space: {{used_space}}/{{available_space}}</a></li>
          <li v-id="!signed_in"><a onclick="/*help.selectUser()*/navbar.signed_in=!navbar.signed_in">Select User</a></li>
        </ul>

      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="page" id="page-home">
      <h2>GitMirror.bit is coming soon...</h2>
    </div>
    <div class="page" id="page-users">
      <h2>Users:</h2>
      <div v-for="user in users">
        <div class="row" :onclick="redirect(user.id)">
          <div class="col-md-4" style="width:128px;">
            <img :src="user.avatar" width="64" height="64" style="margin:32px !important;border-radius:64px;" />
          </div>
          <div class="col-md-8">
            <h2 style="margin-top:11px;">{{user.name}}</h2>
            <h3>Repositories: {{user.repos}}</h3>
          </div>
        </div>
        <!--<table>
            <tr>
              <td rowspan="2">
              </td>
              <td>
                <h2>{{user.name}}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h3>Repositories: {{user.repos}}</h3>
              </td>
            </tr>
          </table>!-->
      </div>
    </div>
    <div class="page" id="page-user">
      <h2>...Nothing here...</h2>
    </div>
    <div class="page" id="page-repos">
      <h2>...Nothing here...</h2>
    </div>
    <div class="page" id="page-repo">
      <h2>...Nothing here...</h2>
    </div>
    <div class="page" id="page-hubs">
      <h2>...Nothing here...</h2>
    </div>
    <div class="page" id="page-hub">
      <h2>...Nothing here...</h2>
    </div>
    <div class="page" id="page-loading">
      <br><br>
      <center>
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </center>
    </div>
    <div class="page" id="page-404">
      <h2>It seems like <span style="background:#bfbfbf;color:#fff;">/{{url}}</span> was not found...</h2>
      <h3>...or you just mistyped it</h3>
    </div>
  </div>
</body>

</html>

<!-- build:js js/all.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/vue/dist/vue.min.js"></script>
<script src="js/page.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/ZeroFrame.js"></script>
<script src="js/Helper.js"></script>
<script src="js/Elements.js"></script>
<script src="js/GitMirror.js"></script>
<!-- endbuild -->
